<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/agentes.css">
    <title>Atacantes</title>
</head>
<body>
    <main class="main__agentes">
        <nav class="navbar">
            <div class="opciones">
            <a href="../view/home.html">Home</a>
            <a href="./defensores.html">Defensores</a>
            <a href="">Atacantes</a>
            <a href="./mapas.html">Mapas</a>
            <a href="../index.html">Salir</a>
            </div>
        </nav>
        <div class="menu__hamburguesa"><i class=" hamburguesa fas fa-bars"></i></div>
        
        <section class="agentes__container">
            <h1>ATACANTES</h1>
            <div class="agentes">
                <div class="card"> 
                    <img src="../img/atacantes/osa.jpg" alt="">
                    <div class="card__body">
                        <h1 class="card-title">Osa</h1>
                        <div class="card__detalles">
                            <p>Blindaje</p>
                            <p>Velocidad</p>
                        </div>
                        <div class="card__puntos">
                            <div class="puntos">
                                <p class="activo"></p>
                                <p class="activo"></p>
                                <p></p>
                            </div>
                            <div class="puntos">
                                <p class="activo"></p>
                                <p class="activo"></p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card"> 
                        <img src="../img/atacantes/flores.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Flores</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="card"> 
                    <img src="../img/atacantes/zero.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Zero</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/ace.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Ace</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/iana.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Iana</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/kali.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Kali</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/amaru.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Amaru</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="card"> 
                    <img src="../img/atacantes/nokk.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Nokk</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/gridlock.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Gridlock</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p class="activo"></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/nomad.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Nomad</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/maverick.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Maverick</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p class="activo"></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/lion.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Lion</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/finka.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Finka</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/dokkaebi.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Dokkaebi</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/zofia.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Zofia</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/ying.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Ying</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/jackal.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Jackal</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/hibana.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Hibana</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p></p>
                                    <p></p>    
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p class="activo"></p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/capitao.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Capitao</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p class="activo"></p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/blackbear.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">BlackBear</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                    
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/buck.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Buck</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                    
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/sledge.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">sledge</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                    
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/thatcher.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Thatcher</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                    
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/ash.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Ash</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p ></p>
                                    <p></p>
                                    
                                </div>
                                <div class="puntos">
                                    
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p class="activo"></p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/thermite.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Thermite</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                    
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/montagne.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Montagne</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p class="activo"></p>
                                    
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p></p>
                                    <p></p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/twitch.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Twitch</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                    
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/blitz.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Blitz</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                    
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/iq.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Iq</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p></p>
                                    <p></p>
                                    
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p class="activo"></p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/fuze.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Fuze</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                   
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p class="activo"></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p></p>
                                    <p></p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/atacantes/glaz.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Glaz</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                    
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                            </div>
                    </div>
                </div>
        </section>
    </main>
    <script src="https://kit.fontawesome.com/b4c4dc37b0.js" crossorigin="anonymous"></script>
    <script src="../js/nav.js"></script>
</body>
</html>