<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/agentes.css">
    <title>Defensores</title>
</head>
<body>
    <main class="main__agentes">
        <nav class="navbar">
            <div class="opciones">
            <a href="../view/home.html">Home</a>
            <a href="">Defensores</a>
            <a href="../view/atacantes.html">Atacantes</a>
            <a href="./mapas.html">Mapas</a>
            <a href="../index.html">Salir</a>
            </div>
        </nav>
        <div class="menu__hamburguesa"><i class=" hamburguesa fas fa-bars"></i></div>
        
        <section class="agentes__container">
            <h1>DEFENSORES</h1>
            <div class="agentes">
                <div class="card"> 
                    <img src="../img/defensores/thunderbird.jpg" alt="">
                    <div class="card__body">
                        <h1 class="card-title">Thunderbird</h1>
                        <div class="card__detalles">
                            <p>Blindaje</p>
                            <p>Velocidad</p>
                        </div>
                        <div class="card__puntos">
                            <div class="puntos">
                                <p class="activo"></p>
                                <p></p>
                                <p></p>
                            </div>
                            <div class="puntos">
                                <p class="activo"></p>
                                <p class="activo"></p>
                                <p class="activo"></p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card"> 
                        <img src="../img/defensores/aruni.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Aruni</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="card"> 
                    <img src="../img/defensores/melusi.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Melusi</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p ></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p class="activo"></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/oryx.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Oryx</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/wamai.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Wamai</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/goyo.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Goyo</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/warden.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Warden</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="card"> 
                    <img src="../img/defensores/mozzie.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Mozzie</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="card"> 
                    <img src="../img/defensores/kaid.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Kaid</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p class="activo"></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/clash.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Clash</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p class="activo"></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/maestro.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Maestro</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p class="activo"></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/alibi.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Alibi</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p class="activo"></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/vigil.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Vigil</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p class="activo"></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/ela.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Ela</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p class="activo"></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/lesion.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Lesion</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/mira.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Mira</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p class="activo"></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/echo.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Echo</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p class="activo"></p>
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p></p>
                                    <p></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/caveira.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Caveira</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p></p>
                                    <p></p>
                                    
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p class="activo"></p>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/valkyrie.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Valkyrie</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                    
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/frost.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Frost</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                    
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/mute.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Mute</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                    
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/smoke.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Smoke</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                    
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/castle.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Castle</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                    
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/pulse.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Pulse</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p ></p>
                                    <p></p>
                                    
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p class="activo"></p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/doc.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Doc</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p class="activo"></p>
                                    
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p ></p>
                                    <p></p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/rook.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Rook</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p class="activo"></p>
                                    
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p></p>
                                    <p></p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/jager.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Jager</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                    
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/bandit.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Bandit</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p></p>
                                    <p></p>
                                    
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p class="activo"</p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/tachanka.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Tachanka</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p class="activo"></p>
                                    
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p></p>
                                    <p></p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/defensores/kapkan.jpg" alt="">
                        <div class="card__body">
                            <h1 class="card-title">Kapkan</h1>
                            <div class="card__detalles">
                                <p>Blindaje</p>
                                <p>Velocidad</p>
                            </div>
                            <div class="card__puntos">
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                    
                                </div>
                                <div class="puntos">
                                    <p class="activo"></p> 
                                    <p class="activo"></p>
                                    <p></p>
                                </div>
                            </div>
                    </div>
                </div>
        </section>
    </main>
    <script src="https://kit.fontawesome.com/b4c4dc37b0.js" crossorigin="anonymous"></script>
    <script src="../js/nav.js"></script>
</body>
</html>