<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Home</title>
  </head>
  <body>
    <main class="main__home">
      <nav class="navbar">
          <div class="opciones">
            <a href="">Home</a>
            <a href="./defensores.html">Defensores</a>
            <a href="./atacantes.html">Atacantes</a>
            <a href="./mapas.html">Mapas</a>
            <a href="../index.html">Salir</a>
          </div>
      </nav>
      <div class="menu__hamburguesa"><i class=" hamburguesa fas fa-bars"></i></div>
      <section class="descripcion">
          <div class="card">
              <h1>¿Que es Rainbow Six Siege?</h1>
            <p>
              Rainbow Six Siege, desarrollado por Ubisoft Montreal y editado por
              Ubisoft para PC, PlayStation 4 y Xbox One, es un título de acción
              first person shooter en el que podremos tomar parte en arriesgadas
              operaciones antiterroristas en modalidades multijugador cooperativas y
              competitivas. Combates intensos y altamente letales en entornos
              cerrados, tácticas, juego en equipo, acción explosiva... son lo que
              define la experiencia de juego. El juego establece un nuevo referente
              en cuando a enfrentamientos de rango cercano y planteamiento
              estratégico, dentro del legado Tom Clancy's Rainbow Six.
            </p>
            
          </div>
        </section>
        <section class="carousel__container"">
              <div class="carousel__content">
                <div class="carousel__titulo"><h1>Fotos en juego</h1></div>
                  <div class="carousel">
                      <img src="../img/img1.jpg" alt="">                  
                      <img src="../img/img2.jpg" alt="">                   
                      <img src="../img/img3.jpg" alt="">    
                      <img src="../img/img6.jpg" alt="">
                      <img src="../img/img5.jpg" alt="">
                      <img src="../img/img4.jpg" alt="">
                      <img src="../img/img7.jpg" alt="">
                      <img src="../img/img8.jpg" alt="">
                  </div>
              </div>
              <div class="puntos">
                  <div class="punto activo"></div>
                  <div class="punto"></div>
              </div>
        </section>
      


        <script src="https://kit.fontawesome.com/b4c4dc37b0.js" crossorigin="anonymous"></script>
        <script src="../js/nav.js"></script>
        <script src="../js/carousel.js"></script>
      
    </main>
  </body>
</html>
