<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/agentes.css">
    <title>Mapas</title>
</head>
<body>
    <main class="main__agentes">
        <nav class="navbar">
            <div class="opciones">
            <a href="./home.html">Home</a>
            <a href="./defensores.html">Defensores</a>
            <a href="./atacantes.html">Atacantes</a>
            <a href="">Mapas</a>
            <a href="../index.html">Salir</a>
            </div>
        </nav>
        <div class="menu__hamburguesa"><i class=" hamburguesa fas fa-bars"></i></div>
        
        <section class="agentes__container">
            <h1>MAPAS</h1>
            <div class="agentes">
                <div class="card"> 
                    <img src="../img/mapas/avionPresidencial.jpg" alt="">
                    <div class="card__body">
                        <h1 class="card-title">Avion Presidencial</h1>     
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/mapas/banco.jpg" alt="">
                    <div class="card__body">
                        <h1 class="card-title">Banco</h1>     
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/mapas/baseHereford.jpg" alt="">
                    <div class="card__body">
                        <h1 class="card-title">BaseHereford</h1>     
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/mapas/casa.jpg" alt="">
                    <div class="card__body">
                        <h1 class="card-title">Casa</h1>     
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/mapas/chalet.jpg" alt="">
                    <div class="card__body">
                        <h1 class="card-title">Chalet</h1>     
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/mapas/club.jpg" alt="">
                    <div class="card__body">
                        <h1 class="card-title">Club</h1>     
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/mapas/consulado.jpg" alt="">
                    <div class="card__body">
                        <h1 class="card-title">Consulado</h1>     
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/mapas/favela.jpg" alt="">
                    <div class="card__body">
                        <h1 class="card-title">Favela</h1>     
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/mapas/frontera.jpg" alt="">
                    <div class="card__body">
                        <h1 class="card-title">Fortaleza</h1>     
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/mapas/frontera.jpg" alt="">
                    <div class="card__body">
                        <h1 class="card-title">Frontera</h1>     
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/mapas/kafe.jpg" alt="">
                    <div class="card__body">
                        <h1 class="card-title">Kafe</h1>     
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/mapas/kanal.jpg" alt="">
                    <div class="card__body">
                        <h1 class="card-title">Kanal</h1>     
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/mapas/litoral.jpg" alt="">
                    <div class="card__body">
                        <h1 class="card-title">Litoral</h1>     
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/mapas/oregon.jpg" alt="">
                    <div class="card__body">
                        <h1 class="card-title">Oregon</h1>     
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/mapas/outback.jpg" alt="">
                    <div class="card__body">
                        <h1 class="card-title">Outback</h1>     
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/mapas/parque.jpg" alt="">
                    <div class="card__body">
                        <h1 class="card-title">Parque</h1>     
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/mapas/rascacielos.jpg" alt="">
                    <div class="card__body">
                        <h1 class="card-title">Rascacielo</h1>     
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/mapas/torre.jpg" alt="">
                    <div class="card__body">
                        <h1 class="card-title">Torre</h1>     
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/mapas/villa.jpg" alt="">
                    <div class="card__body">
                        <h1 class="card-title">Villa</h1>     
                    </div>
                </div>
                <div class="card"> 
                    <img src="../img/mapas/yate.jpg" alt="">
                    <div class="card__body">
                        <h1 class="card-title">Yate</h1>     
                    </div>
                </div>

                
               
        </section>
    </main>
    <script src="https://kit.fontawesome.com/b4c4dc37b0.js" crossorigin="anonymous"></script>
    <script src="../js/nav.js"></script>
</body>
</html>